ProductConfiguration/obj/Debug/ProductConfiguration.csproj.CoreCompileInputs.cache
ProductConfiguration/obj/Debug/ProductConfiguration.csproj.AssemblyReference.cache
ProductConfiguration/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProductConfiguration/.vs/ProductConfiguration/v16/TestStore/0/000.testlog
ProductConfiguration/.vs/ProductConfiguration/v16/.suo
.vs/ProjectSettings.json
.vs/ProductConfiguration/v16/TestStore/0/testlog.manifest
.vs/ProductConfiguration/v16/TestStore/0/000.testlog
.vs/ProductConfiguration/v16/.suo
ProductConfiguration/obj/Debug/ProductConfiguration.pdb
ProductConfiguration/obj/Debug/ProductConfiguration.exe
ProductConfiguration/obj/Debug/ProductConfiguration.csproj.FileListAbsolute.txt
ProductConfiguration/bin/Debug/ProductConfiguration.pdb
ProductConfiguration/bin/Debug/ProductConfiguration.exe.config
ProductConfiguration/bin/Debug/ProductConfiguration.exe
ProductConfiguration/.vs/ProductConfiguration/v16/TestStore/0/testlog.manifest
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
ProductConfiguration/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
